Angela Drucks <angie.drucks@gmail.com> <131593197+dr-angela@users.noreply.github.com>
Angela Drucks <angie.drucks@gmail.com>
Anna Paloma Walder <annapalomawa@edu.aau.at>
Anna Paloma Walder <anna.paloma.pw@gmail.com>
Valentina Schiavon <valentinaschiavon99@gmail.com>
Lev Starman <lev.starman8@gmail.com>
Vanessa Fröhlich <vanfroehlich@edu.aau.at>